.so-widget-sow-button-flat-13cc74f3660d-3289 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-flat-13cc74f3660d-3289 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-flat-13cc74f3660d-3289 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
@media (max-width: 780px) {
  .so-widget-sow-button-flat-13cc74f3660d-3289 .ow-button-base.ow-button-align-center {
    text-align: center;
  }
  .so-widget-sow-button-flat-13cc74f3660d-3289 .ow-button-base.ow-button-align-center.ow-button-align-justify .sowb-button {
    display: inline-block;
  }
}
.so-widget-sow-button-flat-13cc74f3660d-3289 .ow-button-base .sowb-button {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  
  -webkit-border-radius: 0.25em 0.25em 0.25em 0.25em;
  -moz-border-radius: 0.25em 0.25em 0.25em 0.25em;
  border-radius: 0.25em 0.25em 0.25em 0.25em;
  background: #ffffff;
  border-width: 1px 0;
  border: 1px solid #ffffff;
  color: #00ba3d !important;
  font-size: 1.15em;
  
  padding: 0.5em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  padding-inline: 1em;
}
.so-widget-sow-button-flat-13cc74f3660d-3289 .ow-button-base .sowb-button.ow-button-hover:active,
.so-widget-sow-button-flat-13cc74f3660d-3289 .ow-button-base .sowb-button.ow-button-hover:hover {
  background: #ffffff;
  border-color: #ffffff;
  color: #00ba3d !important;
}